h1{
    font-family: 'Roboto', sans-serif;
    font-size: 4rem;
    color: var(--dark-10);
    line-height: 120%;
}

p{
    font-family: 'Roboto', sans-serif;
    font-size: 2.4rem;
    line-height: 150%;
    color: var(--dark-10);

}

